.two_box_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    background:whitesmoke;
    position: absolute;
    height: 100vh;
    /*Här styr vi layouten på sidan*/
    grid-template-areas:
        "content_1          content_img_1"
        "content_img_2      content_2"
        "content_3          content_text_3"
        "content_text_4     content_4"
        "content_5          content_text_5"
        "content_text_6     content_6"
}

.content_1 {
    grid-area: content_1;
   
}

.content_img_1 {
    grid-area: content_img_1;
 
}

.content_2 {
    grid-area: content_2;
    width: auto;
    display: flex;
    flex-grow: 1;
}

.content_img_2 {
    grid-area: content_img_2;
    display: grid;
    background: whitesmoke;
    padding: 5rem;
  
}

.content_3 {
    grid-area: content_3;
}

.content_text_3 {
    grid-area: content_text_3;
    display: grid;
    background: whitesmoke;
    padding: 5rem;
}

.content_4{
    grid-area: content_4;
    width: auto;
    display: flex;
    flex-grow: 1;
}

.content_text_4 {
    grid-area: content_text_4;
    display: grid;
    background: whitesmoke;
    padding: 5rem;
}

.content_5 {
    grid-area: content_5;
}

.content_text_5 {
    grid-area: content_text_5;
    display: grid;
    background: whitesmoke;
    padding: 5rem;
}

.content_6 {
    grid-area: content_6;
    width: auto;
    display: flex;
    flex-grow: 1;
}

.content_text_6 {
    grid-area: content_text_6;
    display: grid;
    background: whitesmoke;
    padding: 5rem;
}

.image_set_to_width{
   width: 100vw;
}


@media only screen and (max-width: 1100px) {
    .two_box_grid {
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-width: 900px) {
    .two_box_grid {
        display: flex;
        flex-direction: column;
       
    }

}
/* @media only screen and (max-width: 450px) {
    .content_text_1 {
        padding: 4rem 3rem ;
    }
 
    .content_text_2 {
        padding: 4rem 3rem ;
    }
    .content_text_3 {
        padding: 4rem 3rem ;
    }
    .content_text_4{
        padding: 4rem 3rem ;
    }
    .content_text_5 {
        padding: 4rem 3rem ;
    }
    .content_text_6 {
        padding: 4rem 3rem ;
    }
}  */