* {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}
html {
  background: #eef0e3;
}

main{
  display: flex;
  flex-direction: column;
}

.image_set_to_width{
  width:100%;
}
.new_block{
  background:linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(238,240,227,1) 56%, rgba(238,240,227,1) 68%, rgba(238,240,227,1) 100%);
  
  display: flex;
  overflow-x: auto;
  width: 100vw;
  position: relative;
}
.card_side_headline{
  transform: rotate(270deg);
  font-family: 'helvetica';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 11rem 0rem 10rem 0em;
}
   
.card-wrapper {
  display: flex;
 }

 .card_studier{
  background: rgb(228, 39, 39);
 }

 .card_jobb{
  background: rgb(7, 24, 37);
  color: rgb(231, 231, 231);
 }

 .card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21rem;
}

.flik > .card-wrapper > div {
  /* flex-grow: 2; */
  flex-basis: 23rem;
}
.card_info{
  padding-top: 1rem;
}
.flik{
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  width: 21rem;
}
.card_image{
  width: 9rem;
  margin-top: 1rem;
}



  


p{
  line-height: 2rem;
}

.hedline_text {
  display: flex;
  justify-content: center;
  align-items: center;
  /*hsl(hue, saturation, lightness).*/
  color: hsl(0, 0%,15%) ;
  margin-top: 2rem;
  margin-right:-60rem;
}
.top_text {
  font-family: 'helvetica';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 58px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  transition: all .5s ease-in-out;
}

.line {
  position: relative;
  height: 3.2em;
  overflow: hidden;
}
/* odd and even in the index number of the child 
you can use (3n+0) to hit every third in the index order*/
.line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}
.line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.333);
}
.line:nth-child(1) {
  left: 0;
}
.line:nth-child(2) {
  left: 29px;
}
.line:nth-child(3) {
  left: 58px;
}
.line:nth-child(4) {
  left: 87px;
}
.wrap:hover .line .top_text {
  transform: translate(0, -50px);
}
@media only screen and (max-width: 900px) {

  .hedline_text{
    margin-right:-53rem;
    margin-top: 4rem;
  }
  body{
    background: hotpink;
    
  }
}
