
 * {
     box-sizing: border-box;
  
}
 html, body {
	 background-color: #eef0e3;
}
 .parallax {
	 perspective: 6.25rem;
	 height: 100vh;
	 overflow-x: hidden;
	 overflow-y: auto;
	 position: absolute;
	 top: 0;
	 left: 50%;
	 right: 0;
	 bottom: 0;
	 margin-left: -93.75rem;
}
 .parallax__layer {
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
}
 .parallax__layer img {
	 display: block;
	 position: absolute;
	 bottom: 0;
}
 .parallax__cover {
	 background:#010101;
	 display: block;
	 position: absolute;
	 top: 100%;
	 left: 0;
	 right: 0;
	 height: 20rem;
	 z-index: 20;
}
 .parallax__layer__0 {
	 transform: translateZ(-18.75rem) scale(4);
}
 .parallax__layer__1 {
	 transform: translateZ(-15.625rem) scale(3.5);
}
 .parallax__layer__2 {
	 transform: translateZ(-12.5rem) scale(3);
}
 .parallax__layer__3 {
	 transform: translateZ(-9.375rem) scale(2.5);
}
 .parallax__layer__4 {
	 transform: translateZ(-6.25rem) scale(2);
}
 .parallax__layer__5 {
	 transform: translateZ(-3.125rem) scale(1.5);
}
 .parallax__layer__6 {
	 transform: translateZ(0px) scale(1);
}
 
/* @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  } */